<div>
    <div class="well padding-5" ng-if="group.chartData && group.chartData.length > 0">
        <div class="row">
            <div donut-chart donut-data="group.chartData" donut-colors="vm.model.groups.colorList" class="chart margin-top-5" update-flag="vm.model.compareData.groups.update" donut-formatter="vm.functions.donutPercFormatter"/>
        </div>
        <div class="row">
            <div class="text-center"><h2 class="no-margin">{{group.title}}</h2></div>
        </div>
    </div>
    <div class="text-center text-danger bordered well" ng-if="!group.chartData || group.chartData.length == 0">
        <h3>No Data Available for the Current Selection</h3>
    </div>
</div>

