<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vmDialog.functions.cancelDialog();">
            ×
        </button>
        <div class='widget-header'><h6><i class='{{vmDialog.model.icon}}'></i>&nbsp;{{vmDialog.model.title}} Details</h6></div>
    </div>
    <div class="modal-body padding-7">
        <section>
            <div class="row no-padding">
                <mqa-command-item data="vmDialog.model.data"/>
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button type="button" id="saveButton" class="btn btn-primary" ng-click="vmDialog.functions.confirmDialog();">
            OK
        </button>
        <button type="button" class="btn btn-default" ng-click="vmDialog.functions.cancelDialog();">
            Cancel
        </button>
    </div>
</div>