<div jarvis-widget id="tr-transaction-detail-drill-widget" data-widget-colorbutton="false"
     data-widget-editbutton="false" data-widget-custombutton="false" xmlns="http://www.w3.org/1999/html" data-widget-togglebutton="false" data-widget-deletebutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
        <h2>{{detailSubTitle}} Information</h2>
    </header>
    <div>
        <!-- widget content -->
        <div class="widget-body">
            <form class="smart-form col-sm-12 col-md-12 col-lg-12" xmlns="http://www.w3.org/1999/html">
                <div data-ui-view="detailContent@tabContent"/>
            </form>
        </div>
        <!-- end widget content -->
    </div>
    <!-- widget div-->
</div>
