<aside id="left-panel">
    <div login-info></div>
    <nav>

        <ul data-smart-menu>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.custom.hcnspe.dashboard" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span
                        class="menu-item-parent">{{getWord('Dashboard')}}</span></a>
            </li>

            <li data-ui-sref-active="active">
                <a data-ui-sref="app.custom.hcnspe.reporting.transaction.gridview" title="{{getWord('Reporting')}}"><i class="fa fa-lg fa-fw fa-file-text"></i> <span
                        class="menu-item-parent">{{getWord('Reporting')}}</span></a>
            </li>
            <li mqa-user-menu-option caption="GWID Reporting" icon="fa-file-text-o" base-state=".reporting.gwid.gridview"/>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.custom.hcnspe.reporting.gwidsearch" title="{{getWord('GWID Detail')}}"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span
                        class="menu-item-parent">{{getWord('GWID Detail')}}</span></a>
            </li>
            <li data-ui-sref-active="active" mqa-role-security="['ADMIN_ITX_PARTNER']">
                <a data-ui-sref="app.custom.hcnspe.senderprofile" title="{{getWord('Sender Profiles')}}"><i class="fa fa-lg fa-fw fa-send"></i> <span
                        class="menu-item-parent">{{getWord('Sender Profiles')}}</span></a>
            </li>
        </ul>
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>