<fieldset class="margin-top-10">
    <legend>Delivery Notification <a href="#delivery" data-toggle="tab" ng-click="vmDetail.functions.setActiveTab('delivery');"><i
                class='fa fa-pencil'></i></a></legend>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <b>Delivery receipt emails</b><br>
                        <label> {{vmDetail.model.summary.emailRecipientsNotification}}</label>
            
                    </div><br>

                    <div class="form-group">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <b>Subject</b><br>
                            <label>{{vmDetail.dataModel.delivery.notifications.subject}}</label>
            
                        </div>
                    </div>
            
                </div>
            


</fieldset>