<div class="no-padding no-margin no-margin-content">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3" id="div_char">
                <label for="input_pad_char">Pad Character:</label>
                <input class="form-control" id="input_pad_char" name="input_pad_char" ng-model="vmDialog.dataModel.parameters.char" placeholder="Please Enter a Padding Character" />
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9" id="div_padLength">
                <label for="input_pad_length">Length:</label>
                <input class="form-control" id="input_pad_length" name="input_pad_length" type="number" min="1" max="1000" ng-model="vmDialog.dataModel.parameters.length" />
            </div>
        </div>
    </div>
</div>
