<div class="no-padding no-margin no-margin-content">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" id="div_trimOption">
                <label>Trim Type</label>
                <select class="form-control" name="trimOption" id="trimOption" ng-model="vmDialog.model.trim">
                    <option value="all">All</option>
                    <option value="left">Left</option>
                    <option value="right">Right</option>
                </select>

            </div>
        </div>
    </div>
</div>