<div>
  <div class="modal-header">
    <div data-smart-include="app/modules/common/partials/common-dialog-modal-header.tpl.html"/>
  </div>
  <div class="modal-body no-margin-bottom no-padding-bottom">
    <form id="frmEdit" name="frmEdit" class="form-horizontal" novalidate>
      <div class="form-group">
        <div class="col-md-12 col-lg-12">
          <aegf-group-filter options="{showSubGroup:true, orientation: 1, multiSelect: false, showClear: true}" ng-model="vmDialog.model.groupFilter"></aegf-group-filter>
        </div>
      </div>
      <div class="form-group">
        <input type="hidden" name="hiddenValidation" />
      </div>
    </form>
  </div>
  <div data-smart-include="app/modules/common/partials/common-dialog-modal-footer.tpl.html"/>
</div>
