<div class="padding-10"  style="height: 600px;">
    <form id="frmConfigEditDefinition" name="frmConfigEditDefinition" class="form-horizontal" novalidate>
        <div data-smart-include="app/modules/custom/spe_cno/partials/aegf-billing-config-detail-definition-grid.tpl.html" />
        <div class="form-group">
            <div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="div_input_definition">
                    <input type="hidden" name="hiddenDefinitionValidation"/>
                </div>
            </div>
        </div>
    </form>
</div>
