<div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " id="div_input_api_url">
                <label class="control-label">HTTP Post URL:</label>
                <input class="form-control input-md" id="input_api_url" name="input_api_url"  ng-model="vmDetail.dataModel.delivery.options.url" placeholder="Please enter HTTP POST URL" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 " id="div_input_api_login">
                <label class="control-label">User:</label>
                <input class="form-control input-md" id="input_api_login" name="input_api_login"
                       ng-model="vmDetail.dataModel.delivery.options.user" placeholder="Please enter Username" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 " id="div_input_api_password">
                <label class="control-label">Password:</label>
                <input class="form-control input-md" id="input_api_password" name="input_api_password"  type="password"
                       ng-model="vmDetail.dataModel.delivery.options.password" placeholder="Please enter a Password" />
            </div>
        </div>
    </div>
</div>