<div class="no-padding no-margin no-margin-content">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 " id="div_char">
                <label for="input_mask_char">Mask Character:</label>
                <input class="form-control" id="input_mask_char" name="input_mask_char" ng-model="vmDialog.dataModel.parameters.char" placeholder="Please enter a Masking Character" />
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9" id="div_chars">
                <label for="input_mask_length">Characters to Mask (Comma Delimited): </label>
                <input class="form-control" id="input_mask_length" name="input_mask_length" ng-model="vmDialog.dataModel.parameters.chars" placeholder="Please enter Masking Characters" />
            </div>
        </div>
    </div>
</div>