<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vmDialog.functions.cancelDialog();">
            ×
        </button>
        <div class='widget-header'><h6><i ng-class="vmDialog.model.icon"></i> {{vmDialog.model.title}}</h6></div>
    </div>
    <div class="modal-body dialog-content no-padding">
        <div ng-repeat="dataItem in vmDialog.model.records">
            <div>
                <mft-exit-item data="dataItem"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <button type="button" id="confirmButton" class="btn btn-primary" ng-click="vmDialog.functions.cancelDialog();">
                OK
            </button>
            <button type="button" class="btn btn-default" ng-click="vmDialog.functions.cancelDialog();">
                Cancel
            </button>
        </div>
    </div>
</div>
