<div class="content">
    <div jarvis-widget id="common-transaction-reporting-filter-widget" data-widget-colorbutton="false"
         data-widget-editbutton="false" data-widget-custombutton="false" xmlns="http://www.w3.org/1999/html">
        <header>
            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>

            <h2>Filter</h2>
            <ul class="nav nav-tabs pull-right in">
                <li class="active">
                    <a data-toggle="tab" href="#filterTab"> <i class="fa fa-lg fa-search"></i></a>
                </li>
            </ul>
        </header>
        <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
                <form name="inputForm" novalidate>
                    <div class="custom-scroll tab-content padding-5">
                        <div class="tab-pane fade active in no-padding-bottom" id="filterTab">
                            <fieldset>
                                <div class="form-group">
                                    <label>Return Top:</label>
                                    <input class="form-control spinner-left" name="input_spinner" id="input-spinner"
                                           ng-model="vm.model.filter.topCount" min="0" mqa-spinner>
                                </div>
                                <div class="form-group">
                                    <label for="input_daterange">Date Selection:</label>
                                    <div class="input-group">
                                        <input date-range-picker name="input_daterange" id="input_daterange"
                                               class="form-control date-picker" type="text" name="date"
                                               ng-model="vm.model.filter.dateRange" options="vm.model.dateOptions"
                                               required/>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input_status">Status:</label>

                                    <ui-select id="input_status" name="input_status"
                                               ng-model="vm.model.filter.statuses" multiple theme="select2"
                                               style="width:100%">
                                        <ui-select-match placeholder="Please select the Status(es)">
                                            {{$item.description}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="listItem.code as listItem in vm.model.lists.status | filter:$select.search">
                                            <div ng-bind-html="listItem.description | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group" ng-if="vm.flags.showDirection">
                                    <label>Status</label>
                                    <div class="input-group">
                                        <div class="col-md-12">
                                            <label class="radio radio-inline no-margin">
                                                <input type="radio" class="radiobox" name="radio-inline" ng-model="vm.model.filter.direction" value="-1">
                                                <span>All</span>
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" class="radiobox" name="radio-inline" ng-model="vm.model.filter.direction" value="0">
                                                <span>Inbound</span>
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" class="radiobox" name="radio-inline" ng-model="vm.model.filter.direction" value="1">
                                                <span>Outbound</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="input_sender">Sender(s):</label>
                                    <ui-select id="input_sender" name="input_receiver" multiple ng-model="vm.model.filter.senders" mqa-list="BRIDGE_SENDER"   mqa-list-source="1" input-Placeholder="Select Sender(s)"/>
                                </div>
                                <div class="form-group">
                                    <label for="input_receiver">Receiver(s):</label>
                                    <ui-select id="input_receiver" name="input_status" multiple
                                               ng-model="vm.model.filter.receivers" mqa-list="BRIDGE_RECEIVER"
                                               mqa-list-source="1" input-Placeholder="Select Receiver(s)"/>
                                </div>
                                <div>
                                    <div data-ui-view="customInnerFilter@filter"/>
                                </div>
                                <div class="padding-top-10 padding-bottom-10">
                                    <button class="btn btn-primary btn-default btn-lg col-md-12 col-sm-12 col-lg-12"
                                            ng-click="vm.functions.refreshData();"
                                            ng-disabled="vm.model.flags.inProgress || !vm.model.flags.allowSearch">
                                        <i class="fa fa-lg fa-search"></i>
                                        Search
                                    </button>
                                </div>
                            </fieldset>
                            <div>
                                <div data-ui-view="customOuterFilter@filter"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
