<div class="row">
	<!--- CURRENT SIDE -->
	<div class="col-md-6">

		<!-- header -->
		<div class="col-md-12">
			<div>
				<h6 class="no-margin-bottom"> {{vm.model.currentData.title}}</h6>
			</div>
		</div>
		<div class="col-md-12">
			<hr class="bordered"/>
		</div>
		<!-- counts current -->
		<div class="col-md-12">
			<div class="row">
				<xmlsign-wmq-gate-dashboard-count data="vm.model.currentData.counts" id="counts"/>
			</div>
		</div>
		<!-- donut current -->
		<div class="col-sm-12">
			<div jarvis-widget id="group-morris-chart-widget-current" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-tachometer"></i> </span>
					<h2>Groupings</h2>
				</header>
				<div>
					<div class="widget-body no-padding">
						<div class="col-sm-6 col-lg-6 col-md-6 padding-left-gutter padding-5" ng-repeat="group in vm.model.currentData.groups.data">
							<div data-smart-include="app/modules/common/partials/common-donut-content.tpl.html"/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--- service groups current --->
		<div class="col-sm-12">
			<div jarvis-widget id="job-chart-widget-current"  data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2>Service Groups</h2>
				</header>
				<div class="widget-body">
					<div class="col-sm-12 col-lg-12 col-md-12">
						<mqa-chartjs dataset="vm.model.currentData.listenerBar.series" chart-type="horizBar" height="120" options="vm.model.currentData.listenerBar.options" update-flag="vm.model.currentData.listenerBar.updateFlag" refresh-flag="vm.model.currentData.listenerBar.refreshFlag" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- COMPARISION SIDE -->
	<div class="col-md-6">
		<!-- header -->
		<div class="col-md-12">
			<div>
				<h6 class="no-margin-bottom"> {{vm.model.compareData.title}}</h6>
			</div>
		</div>
		<div class="col-md-12">
			<hr class="bordered"/>
		</div>
		<div class="col-md-12">
			<div class="row">
				<xmlsign-wmq-gate-dashboard-count data="vm.model.compareData.counts" id="compareCounts"/>
			</div>
		</div>

		<!-- donut compare -->
		<div class="col-sm-12">
			<div jarvis-widget id="group-morris-chart-widget-compare" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-tachometer"></i> </span>
					<h2>Groupings</h2>
				</header>
				<div>
					<div class="widget-body no-padding">
						<div class="col-sm-6 col-lg-6 col-md-4 padding-left-gutter padding-5" ng-repeat="group in vm.model.compareData.groups.data">
							<div data-smart-include="app/modules/common/partials/common-donut-content.tpl.html"/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--- service groups compare --->
		<div class="col-sm-12">
			<div jarvis-widget id="job-chart-widget-compare"  data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2>Service Groups</h2>
				</header>
				<div class="widget-body">
					<div class="col-sm-12 col-lg-12 col-md-12">
						<mqa-chartjs dataset="vm.model.compareData.listenerBar.series" chart-type="horizBar" height="120" options="vm.model.compareData.listenerBar.options" update-flag="vm.model.compareData.listenerBar.updateFlag" refresh-flag="vm.model.compareData.listenerBar.refreshFlag" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- transaction grid -->
	<div class="col-md-12">
		<div data-smart-include="app/modules/bridge/partials/xmlsign-wmq-gate-dashboard-recent.tpl.html"/>
	</div>
</div>

