<div id="xmlsign-wmq-gate-reporting-gridview-widget" data-widget-colorbutton="false" data-widget-togglebutton="false"  data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget>
    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2><b>{{vm.model.reportName}}</b></h2>
        <mqa-widget-user-save-button toggle-flag="vmgrid.flags.userSave" caption="Save Reporting Configuration" on-save="vmgrid.stateManager.persistUserState"/>
    </header>
    <!-- widget content -->
    <div class="widget-body">
        <section  ng-if="vm.model.counts != null">
                <xmlsign-wmq-gate-dashboard-count  ng-if="vm.model.counts != null"  data="vm.model.counts" id="counts"/>
        </section>
        <div id="grid">
            <div class="row">
                <div class="col-md-12">
                    <xmlsign-wmq-gate-transaction-grid function-manager="vmgrid.stateManager" data="vm.model.data" refresh-flag="vm.model.flags.refresh"></xmlsign-wmq-gate-transaction-grid>
                </div>
            </div>
        </div>
    </div>
</div>
