<div class="content">
    <div jarvis-widget id="mft-agent-reporting-filter-widget" data-widget-colorbutton="false"
         data-widget-editbutton="false" data-widget-custombutton="false" xmlns="http://www.w3.org/1999/html">
        <header>
            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>

            <h2>Filter</h2>
            <ul class="nav nav-tabs pull-right in">
                <li class="active">
                    <a data-toggle="tab" href="#filterTab"> <i class="fa fa-lg fa-search"></i></a>
                </li>
            </ul>
        </header>
        <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
                <form name="inputForm" novalidate>
                    <div class="custom-scroll tab-content padding-5">
                        <div class="tab-pane fade active in no-padding-bottom" id="filterTab">
                            <fieldset>
                                <div class="form-group">
                                    <label for="input_names">Names:</label>
                                    <ui-select id="input_names" name="input_names" tagging multiple
                                               ng-model="vm.model.filter.names" mqa-tag
                                               input-Placeholder="Enter Partial Atom Name(s)"/>
                                </div>

                                <div class="form-group">
                                    <label for="input_status">Status:</label>
                                    <ui-select id="input_status" name="input_status"
                                               ng-model="vm.model.filter.statuses" multiple theme="select2"
                                               style="width:100%">
                                        <ui-select-match placeholder="Please select the Status(es)">
                                            {{$item.description}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="listItem.code as listItem in vm.model.lists.atom_status | filter:$select.search">
                                            <div ng-bind-html="listItem.description | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="input_type">Types:</label>
                                    <ui-select id="input_type" name="input_type"
                                               ng-model="vm.model.filter.types" multiple theme="select2"
                                               style="width:100%">
                                        <ui-select-match placeholder="Please select the Type(s)">
                                            {{$item.description}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="listItem.code as listItem in vm.model.lists.atom_types | filter:$select.search">
                                            <div ng-bind-html="listItem.description | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="input_environments">Environments:</label>
                                    <ui-select id="input_environments" name="input_environments"
                                               ng-model="vm.model.filter.environments" multiple theme="select2"
                                               style="width:100%">
                                        <ui-select-match placeholder="Please select the Environments (s)">
                                            {{$item}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="listItem as listItem in vm.model.lists.environments | filter:$select.search">
                                            <div ng-bind-html="listItem | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="input_classification">Classification</label>
                                    <div class="smart-form" id="input_classification" >
                                        <div class="inline-group">
                                            <!-- in the event of one of the environments not being there make sure the other one is disabled -->
                                            <label class="checkbox" ng-if="vm.model.flags.allowProd">
                                                <input type="checkbox" id="checkbox_prod" ng-model="vm.model.filter.prod"  ng-disabled="!vm.model.flags.allowTest"><i></i> Production
                                            </label>
                                            <label class="checkbox" ng-if="vm.model.flags.allowTest">
                                                <input type="checkbox" id="checkbox_test" ng-model="vm.model.filter.test"  ng-disabled="!vm.model.flags.allowProd"><i></i> Non-Production
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="input_os">Operating System:</label>
                                    <ui-select id="input_os" name="input_os"
                                               ng-model="vm.model.filter.os" multiple theme="select2"
                                               style="width:100%">
                                        <ui-select-match placeholder="Please select the Operating System(s)">
                                            {{$item.description}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="listItem.code as listItem in vm.model.lists.osnames | filter:$select.search">
                                            <div ng-bind-html="listItem.description | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="input_hosts">Hosts:</label>
                                    <ui-select id="input_hosts" name="input_hosts"
                                               ng-model="vm.model.filter.hosts" multiple theme="select2"
                                               style="width:100%">
                                        <ui-select-match placeholder="Please select the Host(s)">
                                            {{$item}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="listItem as listItem in vm.model.lists.hosts | filter:$select.search">
                                            <div ng-bind-html="listItem | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="input_api_ids">Atom ID:</label>
                                    <ui-select id="input_api_ids" name="input_api_ids" tagging multiple
                                               ng-model="vm.model.filter.apiIds" mqa-tag
                                               input-Placeholder="Enter Atom Ids(s)"/>
                                </div>
                                <div class="padding-top-10 padding-bottom-10">
                                    <button class="btn btn-primary btn-default btn-lg col-md-12 col-sm-12 col-lg-12"
                                            ng-click="vm.functions.refreshData();"
                                            ng-disabled="vm.model.flags.inProgress">
                                        <i class="fa fa-lg fa-search"></i>
                                        Search
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
