<div class="row">
    <article class="col-md-12 no-padding">
        <!-- atom and process list  -->
        <article class="col-sm-12">
            <div jarvis-widget id="detailed-data-widget"  data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Infrastructure Status</h2>
                    <ul class="nav nav-tabs pull-right in" id="atomTabs">
                        <li class="active">
                            <a data-toggle="tab" href="#atomdisplay" ><i
                                    class="fa fa-laptop"></i> <span class="hidden-mobile hidden-tablet">Atoms</span></a>

                        </li>
                        <li>
                            <a data-toggle="tab" href="#processdisplay">
                                <i class="fa fa-laptop"></i> <span class="hidden-mobile hidden-tablet">Processes</span>
                            </a>
                        </li>
                    </ul>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div id="tabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="atomdisplay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <boomi-atom-grid data="vm.model.atomTable.data" mode="1" refresh-flag="vm.model.atomTable.refresh"></boomi-atom-grid>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="processdisplay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <boomi-process-grid data="vm.model.processTable.data" title="Process List" refresh-flag="vm.model.processTable.refresh"></boomi-process-grid>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <!--
        <div class="col-sm-12">
            <div jarvis-widget id="group-morris-chart-widget-current" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-tachometer"></i> </span>
                    <h2>Groupings</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="col-sm-4 col-lg-4 col-md-4 padding-left-gutter padding-5" ng-repeat="group in vm.model.currentData.groups.data">
                            <div data-smart-include="app/modules/common/partials/common-donut-content.tpl.html"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </article>
</div>
