<div class="well" style="height:500px">
    <div class="scroll-body" slimscroll="{'height': '450', alwaysVisible: 'true', 'position': 'left', color: 'silver', wheelStep:'1'}">
        <div class="smart-timeline">
        <ul class="smart-timeline-list timeline-list-wide">
            <li ng-repeat="dataItem in vmDetail.model.displayNodes">
                <div class="smart-timeline-icon timeline-icon-wide" ng-class="dataItem.background"  ng-click="vmDetail.functions.drill(dataItem);">
                    <h3 style="margin: 4px">{{$index + 1}}</h3>
                </div>
                <div class="smart-timeline-time timeline-time-wide" ng-click="vmDetail.functions.drill(dataItem);">
                    <small>{{dataItem.action_date | localUTCDateFilter : 'YYYY-MM-DD, h:mm:ss:SSS a'}}</small>
                    <p>
                        <h1 class="no-margin no-padding text-align-center"><i ng-class="dataItem.icon" class="fa fa-lg"></i></h1>
                    </p>
                </div>
                <div class="smart-timeline-content timeline-content-wide">
                    <p class="no-margin" ng-click="vmDetail.functions.drill(dataItem);"> <strong ng-class="dataItem.foreground">{{dataItem.name}} ({{dataItem.source}})</strong></p>
                    <p class="no-margin" ng-click="vmDetail.functions.drill(dataItem);">
                        {{dataItem.description}}
                    </p>
                    <p class="no-margin" ng-click="vmDetail.functions.drill(dataItem);">
                        <strong>Process:</strong>&nbsp;{{dataItem.process.name}}
                    </p>
                    <p class="no-margin" ng-if="dataItem.supplemental">
                        <strong>Supplemental:</strong>&nbsp;{{dataItem.supplemental}}
                    </p>
                    <p class="no-margin">
                        <span class="label label-primary"> Inputs: {{dataItem.input}}</span>
                        <span class="label label-default"> Outputs: {{dataItem.output}}</span>
                        <span class="label label-danger"> Errors: {{dataItem.errors}}</span>
                        <span class="label label-info"> Size: {{dataItem.size}}</span>
                    </p>
                    <p ng-if="dataItem.drillInfo != null" class="margin-top-5">
                        <div class="alert alert-block alert-danger" ng-if="dataItem.drillInfo.error_text">
                            <div class="custom-scroll" slimscroll="{height:''}" style="max-height:50px;">
                                <span style="white-space: pre-line;">{{dataItem.drillInfo.error_text}}</span>
                            </div>
                        </div>
                        <button class="btn txt-color-white btn-primary btn-sm" ng-if="dataItem.drillInfo.meta_data" ng-click="vmDetail.functions.viewMetaData(dataItem);">View Meta...</button>
                        <button class="btn btn-success" ng-click="vmDetail.functions.viewDocument(dataItem);" ng-if="dataItem.drillInfo.attachment_text">
                            <i class="fa fa-paperclip"></i>{{dataItem.drillInfo.attachment_text}}...
                        </button>


                        <button class="btn btn-primary" ng-click="vmDetail.functions.viewDocuments(dataItem);" ng-if="dataItem.drillInfo.type === 3">
                            <i class="fa fa-paperclip"></i>View Documents...
                        </button>


                    </p>
                </div>
            </li>
        </ul>
    </div>
    </div>
</div>