<article class="col-sm-12">
	<div jarvis-widget id="transaction-data-widget"  data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
		<header>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>Last {{vm.model.dialogData.filter.topCount}} Transactions</h2>
		</header>
		<div>
			<div class="widget-body">
				<div id="griddisplay">
					<mqa-spe-complete-kendo-grid data="vm.model.transactionTable.data" mode="{{vm.model.transactionTable.mode}}" refresh-flag="vm.model.transactionTable.refresh"/>
				</div>
			</div>
		</div>
	</div>
</article>
