<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.functions.onCancel();">
            ×
        </button>
        <div class='widget-header'><h6><i class='fa fa-plane'></i>{{headingText}}</h6></div>
        <div class="row" ng-if="!editRow.isNew">
            <article class="col-sm-12 no-margin">
                <div class="alert alert-{{sync.messageClass}}">
                    <button class="btn btn-sm bg-color-blueDark txt-color-white pull-right"
                            ng-click="vm.functions.requestSync();">
                        <i class="fa fa-exchange"></i> <span class="hidden-mobile hidden-sm">Sync...</span>
                    </button>
                    <i class="fa-fw fa fa-{{sync.icon}}"></i>
                    <strong>{{sync.caption}}</strong><br/>
                    {{sync.message}}
                </div>
            </article>
        </div>
    </div>
    <div class="modal-body">
        <form name="frmSPEProfileEdit" class="form-horizontal" id="frmSPESrProfileEdit" novalidate>
            <ul id="tabs" class="nav nav-tabs tabs-left bordered">
                <li class="active">
                    <a href="#general" data-toggle="tab">General</a>
                </li>
                <li>
                    <a href="#envelope-1" data-toggle="tab">Sender/Receiver</a>
                </li>
                <li>
                    <a href="#envelope-2" data-toggle="tab">Envelope</a>
                </li>
                <li>
                    <a href="#transport" data-toggle="tab">Transport</a>
                </li>
                <li>
                    <a href="#meta" data-toggle="tab">Meta-Data</a>
                </li>

                <li>
                    <a href="#thresholds" data-toggle="tab">Thresholds</a>
                </li>
            </ul>
            <div id="tabContent" class="tab-content padding-10">
                <div class="tab-pane fade in active" id="general">
                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-6" id="div_alias">
                            <label class="control-label">Identifier:</label>
                            <input type="text" class="form-control" name="alias" ng-model="editRow.jsonData.alias"
                                   ng-disabled="editRow.recordStatus == 0"/>
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3" id="div_docType">
                            <label class="control-label">Document Type:</label>
                            <ui-select id="docType" name="docType" ng-model="editRow.jsonData.docType"
                                       mqa-combo="SPEDocTypes" mqa-list-source="1" mqa-company-id="0"
                                       input-Placeholder="Select Document Type"
                                       on-select="vm.functions.onComboChange('docType')"
                                       ng-disabled="editRow.recordStatus == 0"/>
                        </div>
                        <div class="col-sm-3 col-lg-3 col-md-3" id="div_docDirection">
                            <label class="control-label">Document Direction:</label>
                            <input type="text" class="form-control" name="docDirection" ng-model="docDirection"
                                   ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-12 selectContainer" id="div_intEmail">
                            <label class="control-label">Internal Email(s):</label>
                            <ui-select id="int_email" name="int_email" tagging multiple mqa-tag
                                       ng-model="editRow.jsonData.int_email"
                                       input-Placeholder="Please enter Email Address(es)"
                                       ng-change="vm.functions.onComboChange('int_email')"/>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 selectContainer" id="div_extEmail">
                            <label class="control-label">Partner Email(s):</label>
                            <ui-select id="ext_email" name="ext_email" tagging multiple mqa-tag
                                       ng-model="editRow.jsonData.ext_email"
                                       input-Placeholder="Please enter Email Address(es)"
                                       ng-change="vm.functions.onComboChange('ext_email')"/>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="envelope-1">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <fieldset>
                                <legend class="no-margin no-padding">Sender</legend>
                            </fieldset>

                            <div class="form-group">
                                <div>
                                    <div class="col-lg-4 col-md-4 col-sm-4" id="div_isa_id">
                                        <label class="control-label">ID:</label>
                                        <input type="text" class="form-control" name="isa_id"
                                               ng-model="editRow.jsonData.isa_senderID"
                                               placeholder="Please enter the ISA Sender ID"/>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6" id="div_isa_code">
                                        <label class="control-label">Code:</label>
                                        <input type="text" class="form-control" name="isa_code"
                                               ng-model="editRow.jsonData.gs_senderCode"
                                               placeholder="Please enter the GS Sender Code"/>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2" id="div_isa_quali">
                                        <label class="control-label">Qualifier:</label>
                                        <input type="text" class="form-control" name="isa_quali"
                                               ng-model="editRow.jsonData.senderIDQualifier" placeholder="Qualifier"/>
                                    </div>
                                    <input type="hidden" name="hdn_id"/>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12" id="div_isa_name">
                                    <label class="control-label">Name:</label>
                                    <input type="text" class="form-control" name="isa_name"
                                           ng-model="editRow.jsonData.sender_name"
                                           placeholder="Please Provide the Sender Name"/>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12" id="div_isa_version">
                                    <label class="control-label">Version:</label>
                                    <ui-select id="isa_version" name="isa_version"
                                               ng-model="editRow.jsonData.isa_version" mqa-combo="SPEISAVersion"
                                               mqa-list-source="1" mqa-company-id="0"
                                               input-Placeholder="Select ITXA Version"
                                               on-select="vm.functions.onComboChange('isa_version')"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <fieldset>
                                <legend class="no-margin no-padding">Receiver</legend>
                            </fieldset>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="col-lg-4 col-md-4 col-sm-4" id="div_gsa_id">
                                        <label class="control-label">ID:</label>
                                        <input type="text" class="form-control" name="gsa_id"
                                               ng-model="editRow.jsonData.isa_receiverID"
                                               placeholder="Please enter the Receiver ID"/>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6" id="div_gsa_code">
                                        <label class="control-label">Code:</label>
                                        <input type="text" class="form-control" name="gsa_code"
                                               ng-model="editRow.jsonData.gs_receiverCode"
                                               placeholder="Please enter the GSA Code"/>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-2" id="div_gsa_quali">
                                        <label class="control-label">Qualifier:</label>
                                        <input type="text" class="form-control" name="gsa_quali"
                                               ng-model="editRow.jsonData.receiverIDQualifier" placeholder="Qualifier"/>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12" id="div_gsa_name">
                                    <label class="control-label">Name:</label>
                                    <input type="text" class="form-control" name="gsa_name"
                                           ng-model="editRow.jsonData.receiver_name"
                                           placeholder="Please Provider the Receiver Name"/>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12" id="div_gsa_version">
                                    <label class="control-label">Version:</label>
                                    <ui-select id="gsa_version" name="gsa_version"
                                               ng-model="editRow.jsonData.gs_version" mqa-combo="SPEGSAVersion"
                                               mqa-list-source="1" mqa-company-id="0"
                                               input-Placeholder="Select ITXA Version"
                                               on-select="vm.functions.onComboChange('gsa_version');"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="envelope-2">
                    <div class="form-group">
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_hippa">
                            <label class="control-label">Envelope Template:</label>
                            <ui-select id="hippa" name="hippa" ng-model="editRow.jsonData.hipaa_template"
                                       mqa-combo="SPEHIPAA" mqa-list-source="1" mqa-company-id="0"
                                       input-Placeholder="Select the Envelope Template"
                                       on-select="vm.functions.onComboChange('hippa');"/>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_environment">
                            <label class="control-label">Environment:</label>
                            <ui-select id="environment" name="environment" ng-model="editRow.jsonData.environment"
                                       mqa-combo="SPEEnvironment" mqa-list-source="1" mqa-company-id="0"
                                       input-Placeholder="Select Environment"
                                       on-select="vm.functions.onComboChange('environment')"/>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_ediVersion">
                            <label class="control-label">EDI Version:</label>
                            <ui-select id="ediVersion" name="ediVersion" ng-model="editRow.jsonData.edi_version"
                                       mqa-combo="SPEEDIVersion" mqa-list-source="1" mqa-company-id="0"
                                       input-Placeholder="Select the EDI Version"
                                       on-select="vm.functions.onComboChange('ediVersion')"/>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_mapName">
                            <label class="control-label">Map Name:</label>
                            <ui-select id="mapName" name="mapName" ng-model="editRow.jsonData.map_name"
                                       mqa-combo="SPEEDIMapName" mqa-list-source="1" mqa-company-id="0"
                                       input-Placeholder="Select the EDI Map Name"
                                       on-select="vm.functions.onComboChange('mapName')"/>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="transport">
                    <div class="form-group">
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_transport_type">
                            <label class="control-label">Connection Type:</label>
                            <ui-select id="transport_type" name="transport_type"
                                       ng-model="editRow.jsonData.transport.type" mqa-combo="SPETransport"
                                       mqa-list-source="1" mqa-company-id="0"
                                       input-Placeholder="Select the Connection Type"
                                       on-select="vm.functions.onComboSelectType();"/>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label class="control-label">Host:</label>
                            <div class="form-horizontal">
                                <div class="form-group no-margin-bottom">
                                    <div class="col-md-10" id="div_transport_address">
                                        <input type="text" class="form-control" name="transport_address"
                                               ng-model="editRow.jsonData.transport.address" placeholder="Host"/>
                                    </div>
                                    <div class="col-md-2" id="div_transport_port">
                                        <input type="text" class="form-control" name="transport_port"
                                               ng-model="editRow.jsonData.transport.port" placeholder="Port"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <label class="control-label">Credentials:</label>
                            <div class="form-horizontal">
                                <div class="form-group no-margin-bottom">
                                    <div class="col-lg-6 col-md-6 col-sm-6" id="div_transport_user">
                                        <input type="text" class="form-control" name="transport_user"
                                               ng-model="editRow.jsonData.transport.user" placeholder="User Name"
                                               autocomplete="false"/>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6" id="div_transport_password">
                                        <input type="password" class="form-control" name="transport_password"
                                               autocomplete="new-password"
                                               ng-model="editRow.jsonData.transport.password" placeholder="Password"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" id="div_transport_certs">
                            <label class="control-label">Certificate Location:</label>
                            <input type="text" class="form-control" name="transport_cert"
                                   ng-model="editRow.jsonData.transport.cert_location"
                                   placeholder="Connection Certificate Location"/>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_transport_dest_host">
                            <label class="control-label">Destination Server :</label>
                            <ui-select id="transport_dest_host" name="transport_dest_host"
                                       ng-model="editRow.jsonData.transport.destination_host"
                                       mqa-combo="SPETransportDestination" mqa-list-source="1"
                                       input-Placeholder="Select the Destination Server"
                                       on-select="vm.functions.onComboChange('transport_dest_host');"/>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_transport_dest_dir">
                            <label class="control-label">Destination Directory:</label>
                            <input type="text" class="form-control" name="transport_dest_dir"
                                   ng-model="editRow.jsonData.transport.destination_dir"
                                   placeholder="Please enter the Destination Directory"/>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_transport_dest_pstaction">
                            <label class="control-label">Post Action :</label>
                            <ui-select id="transport_dest_pstaction" name="transport_dest_pstaction"
                                       ng-model="editRow.jsonData.transport.destination_pstaction"
                                       mqa-combo="SPETransportPSTAction" mqa-company-id="0" mqa-list-source="1"
                                       input-Placeholder="Select the Post Action"
                                       on-select="vm.functions.onComboChange('transport_dest_pstaction');"/>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="meta">
                    <div class="form-group">
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_meta_companyId">
                            <label class="control-label">Company Identifier:</label>
                            <input type="text" class="form-control" name="meta_companyId"
                                   ng-model="editRow.jsonData.metadata.companyId"
                                   placeholder="Please enter the Company Id"/>
                        </div>

                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_lob">
                            <label class="control-label">Line of Business:</label>
                            <ui-select id="lob" name="lob" ng-model="editRow.jsonData.metadata.lob" mqa-combo="SPELob"
                                       mqa-list-source="1" mqa-company-id="0"
                                       input-Placeholder="Select the Line of Business"
                                       on-select="vm.functions.onComboChange('lob')"/>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_region">
                            <label class="control-label">Region:</label>
                            <ui-select id="region" name="region" ng-model="editRow.jsonData.metadata.region"
                                       mqa-combo="SPERegion" mqa-list-source="1" mqa-company-id="0"
                                       input-Placeholder="Select the Region"
                                       on-select="vm.functions.onComboChange('region')"/>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_group">
                            <label class="control-label">Group:</label>
                            <ui-select id="group" name="group" ng-model="editRow.jsonData.metadata.group"
                                       mqa-combo="SPEGroup" mqa-list-source="1" mqa-company-id="0"
                                       input-Placeholder="Select the Group"
                                       on-select="vm.functions.onComboChange('group')"/>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12" id="div_category">
                            <label class="control-label">Category:</label>
                            <ui-select id="category" name="category" ng-model="editRow.jsonData.metadata.category"
                                       mqa-combo="SPECategory" mqa-list-source="1" mqa-company-id="0"
                                       input-Placeholder="Select the Category"
                                       on-select="vm.functions.onComboChange('category')"/>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade in" id="thresholds">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <mqa-spe-threshold-limit data="editRow.jsonData.limits"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="saveButton" class="btn btn-primary" ng-click="vm.functions.onSave();">
            {{buttonText}}
        </button>
        <button type="button" class="btn btn-danger" ng-click="vm.functions.userDelete();"
                ng-if="editRow.recordStatus == 0">
            Delete
        </button>
        <button type="button" class="btn btn-default" ng-click="vm.functions.onCancel();">
            Cancel
        </button>
    </div>
</div>