<div>
    <span class="text-align-left">
        <i class="fa fa-info-circle"/>
        Information
    </span>
    <div class="text-align-left col-lg-12">
        <div>
            <b>Map:</b>&nbsp;&nbsp;<span style="text-overflow:ellipsis;white-space:nowrap">{{data.map}}</span>
        </div>
        <div>
            <b>System:</b>&nbsp;&nbsp;<span style="text-overflow:ellipsis;white-space:nowrap">{{data.system}}</span>
        </div>
        <div>
            <b>Container:</b>&nbsp;&nbsp;{{data.container}}</span>
        </div>
    </div>

</div>
