<style>
    .k-grid  .k-grid-header  .k-header  .k-link {
        height: auto;
    }

    .k-grid  .k-grid-header  .k-header {
        white-space: normal;
    }
</style>
<div id="spe-transaction-reporting-gridview-widget" data-widget-colorbutton="false" data-widget-togglebutton="false"  data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget>
    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2><b>{{vm.model.reportName}}</b></h2>
        <mqa-widget-user-save-button toggle-flag="vmgrid.flags.userSave" caption="Save Reporting Configuration" on-save="vmgrid.stateManager.persistUserState"/>
    </header>
    <!-- widget content -->
    <div class="widget-body">
        <section id="grid">
            <mqa-spe-complete-kendo-grid data="vm.model.data" function-manager="vmgrid.stateManager" mode="0" refresh-flag="vm.model.flags.refresh"></mqa-spe-complete-kendo-grid>
        </section>
    </div>
</div>


