<div id="main">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error 404</h1>
                        <h2 class="font-xl"><strong>Un-Authorized!</strong></h2>
                        <br>
                        <p class="lead semi-bold">
                            <strong>You Are not Authorized to View this Page.</strong><br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="padding-10">
                <a data-ui-sref="login" >
                    <button type="button" class="btn btn-lg btn-default col-sm-12 btn-danger">Login...</button>
                </a>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>