<!-- Basic Styles -->
<link rel="stylesheet" type="text/css" media="screen" href="styles/css/Landing/install.css">
<link rel="stylesheet" type="text/css" media="screen" href="styles/css/Landing/settings.css">


<body>
<div>
    <!-- HEADER -->
    <ul id="gn-menu" class="gn-menu-main">
        <li class="text-left" style=" padding-left: 5px; padding-right: 40px;">
            <p> <h4><small><span>{{productName}}</span></small> </br><b>Environment Configuration</b></h4></p>
        </li>
        <li>
            <span id="logo"> <img src="styles/img/custom/login_logo.png" alt="{{productName}}" style="width: 135px; margin-top:-20px;"> </span>
        </li>
    </ul>
</div>
<!-- HEADER -->


<!-- WIDGET CONTENT -->
<section class="home-section">

    <div class="marginbot-50">
        <div>
            <div data-smart-router-animation-wrap="content innerContent@app" data-wrap-for="#content">
                <div data-ui-view="innerContent@content"  data-autoscroll="true"/>
            </div>
        </div>
    </div>
</section>
<!-- WIDGET CONTENT -->


<!-- #FOOTER -->
<footer>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <p>
                        <span class="txt-color-white">{{copyright}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / #FOOTER -->

