<div class="content">
    <div jarvis-widget id="spe-instamed-transaction-reporting-filter-widget" data-widget-colorbutton="false"
         data-widget-editbutton="false" data-widget-custombutton="false" xmlns="http://www.w3.org/1999/html">
        <header>
            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
            <h2>Filter</h2>
            <ul class="nav nav-tabs pull-right in">
                <li class="active">
                    <a data-toggle="tab" href="#filterTab"> <i class="fa fa-lg fa-search"></i></a>
                </li>
            </ul>
        </header>
        <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
                <form name="inputForm" novalidate>
                    <div class="custom-scroll tab-content padding-5">
                        <div class="tab-pane fade active in no-padding-bottom" id="filterTab">
                            <fieldset>
                                <div class="form-group">
                                    <label>Return Top:</label>
                                    <input class="form-control spinner-left" name="input_spinner" id="input-spinner" ng-model="vm.model.filter.topCount" min="0" mqa-spinner>
                                </div>
                                <div class="form-group">
                                    <label for="input_daterange">Date Selection:</label>
                                    <div class="input-group">
                                        <input date-range-picker name="input_daterange" id="input_daterange" class="form-control date-picker" type="text" name="date" ng-model="vm.model.filter.dateRange" options="vm.model.dateOptions" required/>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input_hcompany">{{vm.model.titles.holdingCompany}}:</label>
                                    <ui-select id="input_hcompany" name="input_hcompany" ng-model="vm.model.filter.holdingCompany" mqa-combo="HoldingCompany" mqa-list-source="1" mqa-company-id="{{vm.model.companyId}}" input-Placeholder="Select the {{vm.model.titles.holdingCompany}}" on-select="vm.functions.onHoldingCompanyChange(true);" ng-disabled="!vm.model.flags.allowHoldingSelect"/>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label for="input_division">{{vm.model.titles.division}}:</label>
                                    <ui-select id="input_division" name="input_division" ng-disabled="!vm.model.flags.allowDivisionSelect" ng-model="vm.model.filter.divisions" multiple theme="select2" style="width:100%">
                                        <ui-select-match placeholder="Please select the {{vm.model.titles.division}}">{{$item.description}}</ui-select-match>
                                        <ui-select-choices repeat="listItem.code as listItem in vm.model.divisions | filter:$select.search">
                                            <div ng-bind-html="listItem.description | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="padding-top-10 padding-bottom-10">
                                    <button class="btn btn-primary btn-default btn-lg col-md-12 col-sm-12 col-lg-12" ng-click="vm.functions.refreshData();" ng-disabled="vm.model.flags.inProgress">
                                        <i class="fa fa-lg fa-search"></i>
                                        Search
                                    </button>
                                </div>
                                <div class="form-group">
                                    <label>Departments:</label>
                                    <mqa-dept-combo ng-model="vm.model.filter.departments"/>
                                </div>
                                <div class="form-group">
                                    <label for="input_transactionIds">Transaction Id(s):</label>
                                    <ui-select id="input_transactionIds" name="input_transactionIds" tagging multiple ng-model="vm.model.filter.transactionIds" mqa-tag input-Placeholder="Enter Transactions to Find"/>
                                </div>
                            </fieldset>
                        </div>
                        <div style="height:54px"></div> <!-- blank space to line up forms -->
                    </div>
                    <div class="widget-footer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>