<div class="row">
    <article class="col-sm-12">
        <div data-jarvis-widget="frmEdiDocumentEditWidget" data-widget-editbutton="false" data-widget-fullscreenbutton="false"
             data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false"
             data-widget-deletebutton="false">
            <header><h2>Configuration Information</h2></header>
            <div class="widget-body padding-5">
                <form id="frmEdiDocumentEdit" name="frmEdiDocumentEdit" class="form-horizontal" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <input type="text" placeholder="Document Code" class="form-control" name="code"
                                       ng-model="editRow.code">
                                <input type="hidden" name="hiddenValidation"/>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-lg-12 col-sm-12" id="div_desc">
                                <input type="text" placeholder="Description" class="form-control" name="description"
                                       ng-model="editRow.description"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <fieldset>
                    <legend class="no-margin-bottom">Meta-Data
                        <button class="btn btn-primary btn-xs" data-ng-click="vm.functions.onNewMetaData();">
                            <i class="fa fa-sm fa-plus"></i>
                        </button>
                    </legend>
                    <div class="row margin-top-10">
                        <div class="col-md-12">
                            <mqa-kendo-grid id="metaGrid" options="vm.model.metaGrid.dataOptions"
                                            data="editRow.jsonData.data"
                                            ondrill="vm.functions.onEditMetaData"
                                            refresh-flag="vm.model.flags.gridRefresh"></mqa-kendo-grid>
                        </div>
                    </div>
                </fieldset>
                <footer class="margin-top-10 padding-left-15">
                    <div class="row">
                        <button type="button" id="saveButton" class="btn btn-primary" ng-click="vm.functions.onSave();">
                            {{vm.model.buttonText}}
                        </button>

                        <button type="button" class="btn btn-danger" ng-click="vm.functions.userDelete();"
                                ng-if="editRow.recordStatus == 0">
                            Delete
                        </button>
                        <button type="button" class="btn btn-default" ng-click="vm.functions.cancelRecord();">
                            Cancel
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </article>
</div>
