<div class="row">
    <article class="col-sm-12">
        <div jarvis-widget id="frmCompanyListEditWidget"  data-widget-editbutton="false">
            <header>
                <h2>{{headingText}}</h2>
            </header>
            <div>
                <div class="widget-body padding-5">
                    <form name="frmCompanyListEdit">
                        <div class="row">
                            <div class="form-group col-sm-12 col-lg-12 col-md-12">
                                <div id="div_code">
                                    <label class="control-label">Identifier:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-code fa-lg fa-fw "></i></span>
                                        <input type="text" placeholder="Identifier  " class="form-control input-lg" name="code" ng-model="editRow.code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-lg-12 col-md-12">
                                <div id="div_desc">
                                    <label class="control-label">Description:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw "></i></span>
                                        <input type="text" placeholder="Description" class="form-control input-lg" name="description" ng-model="editRow.description">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="row">
                                <button type="button" id="saveButton" class="btn btn-primary" ng-click="onSave();">
                                    {{buttonText}}
                                </button>

                                <button type="button"  class="btn btn-danger"   ng-click="userDelete();" ng-if="editRow.recordStatus == 0">
                                    Delete
                                </button>
                                <button type="button" class="btn btn-default" ng-click="cancelRecord();">
                                    Cancel
                                </button>
                            </div>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>

