<div class="bordered">
    <div class="slimScrollDiv">
        <ul class="app-list" style="width: 130px !important;">
            <li mqa-role-security="['TRANS_UPLOAD']">
                <a href="javascript:void(0)" ng-click="vmLayout.functions.fileUpload();" class="app-list-item hover-white">
                                                    <span class="icon-stack">
                                                        <i class="base-2 icon-stack-3x color-primary-600"></i>
                                                        <i class="base-3 icon-stack-2x color-primary-700"></i>
                                                        <i class="fa fa-3px fa-flag-checkered"></i>
                                                    </span>
                    <span class="app-list-name">
                                                        Testing Harness
                                                    </span>
                </a>
            </li>
            <li mqa-role-security="['ITX_APP']">
                <a href="javascript:void(0)" ng-click="vmLayout.functions.eligibilityCheck();" class="app-list-item hover-white">
                                                    <span class="icon-stack">
                                                        <i class="base-2 icon-stack-3x color-primary-600"></i>
                                                        <i class="base-3 icon-stack-2x color-primary-700"></i>
                                                        <i class="fa fa-3px  fa-medkit"></i>
                                                    </span>
                    <span class="app-list-name">
                                                        Eligibility Check
                                                    </span>
                </a>
            </li>

        </ul>
    </div>
</div>
