<section id="widget-grid" widget-grid>
	<div class="row">
		<div class="col-sm-12">
			<div id="wid-id-docedit" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-jarvis-widget>
				<header>
					<h2>Document Information</h2>
				</header>
				<div>
					<!-- widget content -->
					<div class="widget-body no-padding">
						<mqa-adm-doc-type-edit-form/>
					</div>
					<!-- end widget content -->
				</div>
			</div>
		</div>
	</div>
</section>
