<section id="widget-grid" widget-grid>
	<div class="row">
		<article class="col-sm-12">
			<div id="wid-id-doctypetable" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-color="dark" data-jarvis-widget>
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Document Types</h2>
				</header>
				<div>
					<div class="widget-body no-padding">
						<mqa-table-view rows="items" headers="['Code', 'Description']" data-item-template-name="app/modules/common/partials/list-item.tpl.html" ondrill="onDrill"/>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
