
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vmDialog.functions.cancelRecord();"> × </button>
      <div class='widget-header'>
          <h6>
            {{vmDialog.model.title}}
          </h6>
      </div>
    </div>
    <div class="modal-body">
     
      <div class="inbox-info-bar no-margin" >
        <form name="frmEmail" id="frmEmail" novalidate class="form-horizontal">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="col-sm-1">
                                <label class="control-label" for="subject"><strong>Subject:</strong></label>
                            </div>
                            <div class="col-sm-11" id="div_subject">
                                <input class="form-control" name="subject" placeholder="Subject" type="text" ng-model="vmDialog.model.subject" id="subject"/>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <div class="padding-5">
        <summernote config="editorOptions" ng-model="vmDialog.dataModel.content"></summernote>
    </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <button type="button" id="saveButton" class="btn btn-primary" ng-click="vmDialog.functions.saveRecord();">
          {{vmDialog.model.buttonText}}
        </button>
        <button type="button" class="btn btn-danger" ng-click="vmDialog.functions.userDelete();" ng-if="vmDialog.dataModel.rowId > -1"> Delete</button>
        <button type="button" class="btn btn-default" ng-click="vmDialog.functions.cancelRecord();"> Cancel </button>
      </div>
  </div>
