<section id="widget-grid" widget-grid>
    <div class="row">
        <article class="col-sm-12">
            <div jarvis-widget id="parameterListMenuWidget" data-widget-color="darken" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-colorbutton="false">
                <header>
                    <span class="widget-icon"> <i class="{{vmConfigList.stateInfo.menuIcon}}"></i> </span>
                    <h2>{{vmConfigList.stateInfo.title}}</h2>
                </header>
                <div smart-include="app/modules/admin/partials/parameter-config-list.tpl.html"></div>
            </div>
        </article>
    </div>
</section>

