<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vmDetail.functions.cancelRecord();">
            ×
        </button>
        <div class='widget-header'><h6><i class='fa fa-cube'></i> {{vmDetail.model.title}}</h6></div>
    </div>
    <div class="modal-body">
        <form id="frmIIBAppConfigEdit" name="frmIIBAppConfigEdit" class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="col-md-12 col-lg-12 col-sm-12" id="div_code">
                        <label class="control-label">Code:</label>
                        <input type="text" placeholder="Enter the Code" class="form-control" name="code"
                               ng-model="vmDetail.dataModel.code" ng-disabled="!vmDetail.model.flags.allowCode">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-lg-12 col-sm-12" id="div_desc">
                        <label class="control-label">Description:</label>
                        <input type="text" placeholder="Description" class="form-control" name="description"
                               ng-model="vmDetail.dataModel.description" mqa-role-security="['ADMIN_APP']" role-disabled="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <mqa-switch title="Payload Enabled" label="Payload Enabled" ng-model="vmDetail.dataModel.jsonData.payload"/>
                    </div>
                </div>

            </fieldset>
            <ul id="tabs" class="nav nav-tabs tabs-left bordered">
                <li class="active">
                    <a href="#meta" data-toggle="tab">Meta-Data</a>
                </li>
                <li>
                    <a href="#flow" data-toggle="tab">Flow Configuration</a>
                </li>
            </ul>

            <div id="tabContent" class="tab-content padding-10">
                <!-- META TAB -->
                <div class="tab-pane fade in active" id="meta">
                    <mqa-adm-meta-data-list data="vmDetail.dataModel.jsonData.metadata" id="meta_data"/>
                </div>
               <!-- FLOW TAB -->
                <div class="tab-pane fade" id="flow">
                    <parameter-iib-app-flow-list data="vmDetail.dataModel.jsonData.flows" id="flow_data"/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row">
            <button type="button" id="saveButton" class="btn btn-primary" ng-click="vmDetail.functions.saveRecord();">
                {{vmDetail.model.buttonText}}
            </button>

            <button type="button" class="btn btn-danger" ng-click="vmDetail.functions.userDelete();"
                    ng-if="vmDetail.dataModel.rowId > -1" mqa-role-security="['ADMIN_APP']">
                Delete
            </button>
            <button type="button" class="btn btn-default" ng-click="vmDetail.functions.cancelRecord();">
                Cancel
            </button>
        </div>
    </div>
</div>
