<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vmDialog.functions.cancelDialog();">
            ×
        </button>
        <div class='widget-header'><h6><i ng-class="vmDialog.model.icon"></i> {{vmDialog.model.title}}</h6></div>
    </div>
    <div class="modal-body dialog-content">
        <section id="widget-grid" widget-grid>
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                    <div class="widget-body">
                        <iib-transaction-grid data="vmDialog.model.data" function-manager="vmDialog.functionManager" grid-type="1" list-code="{{vmDialog.model.listCode}}"></iib-transaction-grid>
                    </div>
                </article>
            </section>
    </div>
    <div class="modal-footer">
        <div class="row">
            <button type="button" id="confirmButton" class="btn btn-primary" ng-click="vmDialog.functions.cancelDialog();">
                OK
            </button>
            <button type="button" class="btn btn-default" ng-click="vmDialog.functions.cancelDialog();">
                Cancel
            </button>
        </div>
    </div>
</div>
